.small
	markdown:
		## 採択された研究プロジェクト	

p.center
	span.nonsplit FAIS 新成長戦略推進研究開発事業&nbsp;
	span.nonsplit シーズ創出・実用性検証事業
p.center
	span.large.nonsplit.strong 並列プログラミング言語Elixir(エリクサー)
	span.large.nonsplit.strong における数学/AI/ML基礎ライブラリの開発
