h3.center
  span.nonsplit ZEAM開発ログ第4回
h2.center
	span.nonsplit Pythonを捨ててElixirに移行する日
h3.center
  span.nonsplit
    span.heading 山崎 進 &nbsp;
  img.heading src="resources/images/ZACKY-3000.jpg"
  span.heading &nbsp;
img.image400 src="resources/images/fukuokaex_logo_only_original.png"
